---
import StickyHeader from "./StickyHeader.jsx"
import { Linkedin, Instagram, Github, ArrowDownToLine, FolderCode, ChevronRight, Infinity, Bot, Brain } from '@lucide/astro'
import { FaPython, FaReact, FaPhp, FaJava, FaAws, FaDocker, FaNodeJs } from "react-icons/fa"
---

<div id="container">
  <main class="flex flex-col w-full items-center">
		<header class=" z-10 w-full md:block fixed hidden top-0 left-0 backdrop-blur-2xl transition-[backdrop-filter] ease-in-out duration-500">
			<div class="nav-bar relative h-[5rem] md:max-w-[1250px] flex justify-between items-center mx-auto px-5 transition-all duration-[600ms] ease-in-out ">
				<a class="text-black font-bold text-2xl" href="#">Leonardo</a>
				<div class="text-black text-md font-semibold flex gap-x-1">
					<a href="" class="hover:bg-[#C58846] hover:text-white transition-all px-2 py-1 rounded-sm">Inicio</a>
					<a href="" class="hover:bg-[#C58846] hover:text-white transition-all px-2 py-1 rounded-sm">Acerca</a>
					<a href="" class="hover:bg-[#C58846] hover:text-white transition-all px-2 py-1 rounded-sm">Habilidades</a>
					<!--<a href="" class="hover:bg-[#C58846] hover:text-white transition-all px-2 py-1 rounded-sm">Proyectos</a>-->
					<a href="" class="hover:bg-[#C58846] hover:text-white transition-all px-2 py-1 rounded-sm">Servicios</a>
					<a href="" class="hover:bg-[#C58846] hover:text-white transition-all px-2 py-1 rounded-sm">Contacto</a>
				</div>
			</div>
		</header>
		<section class="md:relative w-full md:min-h-[90vh] min-h-[100vh] md:margin-x-auto px-2 md:px-[6rem] md:py-[2rem] mt-[1rem] flex flex-column ">
			<div class="flex flex-col items-center w-full md:flex-row md:justify-between md:items-center">
				<div class="flex flex-col gap-y-10 mt-[40px] hidden md:block">
					<a class="text-[1.5em] mx-[10px] hover:text-[#C58846]" href=""><Linkedin /></a>
					<a class="text-[1.5em] mx-[10px] hover:text-[#C58846]" href=""><Instagram /></a>
					<a class="text-[1.5em] mx-[10px] hover:text-[#C58846]" href=""><Github /></a>
				</div>
				<div class="px-6 md:leading-5">
					<div class="md:leading-14 leading-11 text-center md:text-left">
						<h2 class="md:text-[4em] text-[3em] font-semibold text-[#C58846]">FullStack Developer</h2>
						<h2 class="md:text-[4em] text-[3em] font-semibold text-black">Devops Engineer</h2>
					</div>
					<div class="w-full flex flex-col items-center justify-center w-full block md:hidden mt-3">
						<img src="Usuario-NoFondo.png" alt="Imagen generada con IA">
					</div>
					<p class="mt-6 px-1 font-semibold text-gray-600 md:pr-2 text-center md:text-left">Mi nombre es Leonardo, soy desarrollador con experiencia en React, Node js, Python, PHP y Java. Me especializo en construir aplicaciones eficientes, escalables y bien integradas con flujos CI/CD. <br />Trabajo con herramientas como Docker, GitHub Actions y Azure DevOps para asegurar entregas rápidas y confiables.</p>
					<div class="md:mt-2 mt-0 w-full flex items-center justify-center md:justify-start">
						<a href="" class="mt-6 px-5 hover:bg-black py-2 rounded-full bg-[#C58846] transition-all text-black hover:text-white font-semibold">Conversemos</a>
					</div>
				</div>
				<div class="object-cover hidden md:block">
					<img src="Usuario-NoFondo.png" alt="Imagen generada con IA">
				</div>
			</div>
		</section>
		<section class="relative w-full min-h-[90vh] mt-4 md:-mt-24 margin-x-auto md:px-[6rem] flex flex-column ">
			<div class="flex justify-center flex-col items-center w-full">
				<h1 class="w-full text-center text-[3.5em] md:text-[4.5em] font-bold mt-2 titulo-section">Acerca</h1>
				<h2 class="text-[2.5em] font-bold -mt-14 border-b-6 border-[#C58846]">Acerca</h2>
				<div class="grid md:grid-cols-2 grid-cols-1 w-full gap-x-0 mt-6">
					<div class="flex justify-center items-center px-[4rem] md:px-0">
						<img src="Usuario-Sonrisa.png" class="md:w-[50%]" alt="">
					</div>
					<div class="w-full px-4 md:text-left text-center flex flex-col justify-center md:items-left gap-y-3">
						<h2 class="text-[#C58846] font-bold text-5xl md:text-4xl">Leonardo Diaz</h2>
						<h3 class="font-bold text-black text-3xl md:text-3xl">Desarrollador FullStack e Ingeniero DevOps</h3>
						<p class="font-semibold leading-5 text-gray-700">Disfruto convertir ideas en aplicaciones funcionales, eficientes y pensadas para crecer. Me apasiona escribir código que no solo resuelva problemas, sino que lo haga de forma limpia y mantenible. Además del desarrollo, trabajo activamente en procesos DevOps: tengo experiencia diseñando flujos de integración y entrega continua, gestionando entornos con Docker, GitHub Actions y Azure DevOps para lograr despliegues rápidos, seguros y sin sorpresas.</p>
						<span class="border-b-1 border-gray-700" />
						<a href="" class="mt-2 flex gap-x-2 font-semibold text-lg py-2 bg-[#C58846] md:w-48 px-2 items-center justify-center rounded-md hover:bg-black hover:text-white transition-all">Descargar CV <ArrowDownToLine /></a>
					</div>
				</div>
			</div>
		</section>
		<section class="relative w-full min-h-[100vh] margin-x-auto text-center md:px-[6rem] py-[0rem] flex flex-column ">
			<div class="flex justify-center flex-col items-center w-full">
				<h1 class="text-[3.5em] md:text-[4.5em] font-bold mt-2 titulo-section">Habilidades</h1>
				<h2 class="text-[2.5em] font-bold -mt-14 border-b-6 border-[#C58846]">Habilidades</h2>
				<h4 class="mt-5 font-bold text-4xl">3+ Años de experiencia</h4>
				<div class="grid grid-cols-1 md:grid-cols-2 gap-y-2 w-full mt-6">
					<div class=" grid grid-cols-2  px-2 md:px-6 gap-x-2 gap-y-2">
						<div class="col-span-1 bg-black text-white text-8xl md:text-9xl flex justify-center items-center py-8 md:py-10">
							<FaPython />
						</div>
						<div class="col-span-1 bg-[#C58846] text-white text-8xl md:text-9xl flex justify-center items-center py-8 md:py-10">
							<FaReact />
						</div>
						<div class="col-span-1 bg-[#C58846] text-white text-8xl md:text-9xl flex justify-center items-center py-8 md:py-10">
							<FaPhp />
						</div>
						<div class="col-span-1 bg-black text-white text-8xl md:text-9xl flex justify-center items-center py-8 md:py-10">
							<FaJava />
						</div>
					</div>
					<div class=" grid grid-cols-2  px-2 md:px-6 gap-x-2 gap-y-2">
						<div class="col-span-1 bg-black text-white text-8xl md:text-9xl flex justify-center items-center py-8 md:py-10">
							<FaAws />
						</div>
						<div class="col-span-1 bg-[#C58846] text-white text-9xl flex justify-center items-center">
							<img src="https://cdn.prod.website-files.com/65c3a844357606c1b08a1e74/65c3a844357606c1b08a1e97_Vector%20(1).svg" class="w-40 md:w-56" />
						</div>
						<div class="col-span-1 bg-[#C58846] text-white text-9xl flex justify-center items-center">
							<FaNodeJs />
						</div>
						<div class="col-span-1 bg-black text-white text-8xl md:text-9xl flex justify-center items-center py-8 md:py-10">
							<FaDocker />
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="relative w-full min-h-[100vh] margin-x-auto text-center md:px-[6rem] py-[0rem] flex flex-column ">
			<div class="flex justify-center flex-col items-center w-full">
				<h1 class="text-[3.5em] md:text-[4.5em] font-bold mt-2 titulo-section">Servicios</h1>
				<h2 class="text-[2.5em] font-bold -mt-14 border-b-6 border-[#C58846]">Servicios</h2>
				<div class="grid grid-cols-1 md:grid-cols-4 gap-y-2 md:gap-x-5 w-full mt-10 md:mt-24 md:px-0 px-5">
					<div class="col-span-1 bg-black rounded-lg py-5 px-4 flex flex-col">
						<div class="text-4xl">
							<FolderCode size={48} class="text-white" />
						</div>
						<h3 class="text-white font-semibold text-xl mt-4">Desarrollo FullStack</h3>
						<p class="text-white text-left mt-5">Desarrollo de aplicaciones web modernas y escalables con React y Node.js. Arquitectura limpia, componentes reutilizables, integración de APIs REST y diseño responsive.</p>
						<a href="#" class="mt-10 text-white text-left font-semibold flex">Saber Más <ChevronRight /></a>
					</div>
					<div class="col-span-1 bg-[#C58846] rounded-lg py-5 px-4 flex flex-col">
						<div class="text-4xl">
							<Infinity size={48} class="text-black" />
						</div>
						<h3 class="text-black font-semibold text-xl mt-4">Automatización DevOps</h3>
						<p class="text-black text-left mt-5">Desarrollo de aplicaciones web modernas y escalables con React y Node.js. Arquitectura limpia, componentes reutilizables, integración de APIs REST y diseño responsive.</p>
						<a href="#" class="mt-10 text-black text-left font-semibold flex">Saber Más <ChevronRight /></a>
					</div>
					<div class="col-span-1 bg-black rounded-lg py-5 px-4 flex flex-col">
						<div class="text-4xl">
							<Bot size={48} class="text-white" />
						</div>
						<h3 class="text-white font-semibold text-xl mt-4">Automatizaciones</h3>
						<p class="text-white text-left mt-5">Automatización de procesos repetitivos, validaciones complejas, pruebas E2E y scraping con Selenium, Serenity BDD y Python para mejorar eficiencia y precisión.</p>
						<a href="#" class="mt-10 text-white text-left font-semibold flex">Saber Más <ChevronRight /></a>
					</div>
					<div class="col-span-1 bg-[#C58846] rounded-lg py-5 px-4 flex flex-col">
						<div class="text-4xl">
							<Brain size={48} class="text-white" />
						</div>
						<h3 class="text-white font-semibold text-xl mt-4">Consultorias</h3>
						<p class="text-white text-left mt-5">Asesoría personalizada en DevOps, arquitectura web, ciencia de datos e integración de IA. Ideal para equipos o startups que necesitan una guía técnica experta y confiable.</p>
						<a href="#" class="mt-10 text-white text-left font-semibold flex">Saber Más <ChevronRight /></a>
					</div>
				</div>
			</div>
		</section>
  </main>

  
</div>

<style>
	main{
		padding: 0;
		margin: 0;
	}
  header.sticky {
		background: rgba(255, 255, 255, 0.1);
		box-shadow: 0px 0px 10px rgb(0 0 0 /10%);
	}

	header.sticky .nav-bar {
		height: calc(2.5rem + 1rem);
	}

	.titulo-section{
		background: linear-gradient(to top, transparent 0%, #000 60%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		opacity: .1;
	}
</style>
